# Changelog

{{#tags}}

{{#ifContainsType commits type='feat'}}
### Features
	{{#commits}}
		{{#ifCommitType . type='feat'}}
	- {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([Link](https://gitlab.com/ROMVoid95/TestRepo/commit/{{hash}}))
		- {{#messageBodyItems}} {{.}} {{/messageBodyItems}}
		{{/ifCommitType}}
	{{/commits}}
{{/ifContainsType}}

{{#ifContainsType commits type='fix'}}
### Bug Fixes
	{{#commits}}
		{{#ifCommitType . type='fix'}}
	- {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([Link](https://gitlab.com/ROMVoid95/TestRepo/commit/{{hash}}))
    {{#messageBodyItems}} 
		- {{.}} 
    {{/messageBodyItems}}
		{{/ifCommitType}}
	{{/commits}}
{{/ifContainsType}}

{{/tags}}